.icon-loading,
.icon-load-fail {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.icon-loading {
    animation: rotate360 2s 0.2s linear infinite;
}

@keyframes rotate360 {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}


.img-content{
    transition: all 0.4s;
    opacity: 0;

    &.active{
        opacity: 1;
    }
}