.myprogress {
    pointer-events: none;

    .bar {
        position: fixed;
        z-index: 1031;
        top: 0;
        left: 0;
        right: 0;
        background: #ffc900;
        height: 2px;
    }
    .peg {
        position: absolute;
        display: block;
        right: 0px;
        width: 100px;
        height: 100%;
        box-shadow: 0 0 10px #ffc900, 0 0 5px #ffc900;
        opacity: 1;
        -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
        transform: rotate(3deg) translate(0px, -4px);
    }

    .spinner {
        position: fixed;
        z-index: 1031;
        top: 15px;
        right: 15px;
        display: block;
    }

    .spinner-icon {
        width: 18px;
        height: 18px;
        box-sizing: border-box;
        border: solid 2px transparent;
        border-top-color: #ffc900;
        border-left-color: #ffc900;
        border-radius: 50%;
        -webkit-animation: myprogress-spinner 400ms linear infinite;
        animation: myprogress-spinner 400ms linear infinite;
    }

    .myprogress-custom-parent {
        position: relative;
        overflow: hidden;
    }
}

.myprogress-custom-parent .myprogress .spinner,
.myprogress-custom-parent .myprogress .bar {
    position: absolute;
}

@-webkit-keyframes myprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes myprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
